* {
    font-family: Open Sans, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* Hide the default cursor */
    cursor: none;
}


.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    /* Make sure it's a circle */
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
    /* So that it stays on top of all other elements */
    display: none;
    /* Initially hide the custom cursor */
}

button,
ul,
li,
a:hover {
    cursor: none;
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 7rem;
    height: 200vh;
    background-color: #101010;
    padding: 1em;
}

.navImg {
    width: 100%;
}

.navIcoH {
    width: 2.6rem;
}

.navIcoA {
    width: 3.1rem
}

.navIcoP {
    width: 3rem
}

.navIcoC {
    width: 2.2rem
}

.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.navbar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 7rem;
}

.navbar li:hover {
    border-radius: 1.5rem;
    box-shadow:
        0px 0px 255px -11px rgba(111, 111, 111, 1) inset;
}

/* navbar image */
li img {
    width: 4rem;
    margin-bottom: 0.5rem;
}

.navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

main {
    margin-left: 9rem;
}


/* cover */
#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#home a {
    width: 30%;
    text-decoration: none;
}

.resume {
    font-family: 'Playwrite PE';
    margin-top: 2rem;
    width: 100%;
    height: 3.5rem;
    font-size: 1rem;
    border-radius: 1.2rem;
    background-image:
        linear-gradient(to right, #e55d5d 0%, #5f61e4 51%, #e55dd7 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    display: block;
}

.resume:hover {
    scale: 1.05;
    background-position: right center;
}

.intro h1 {
    text-align: center;
}

.grt {
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 2rem;

}

.name {
    font-size: 6rem;
    font-family: "Playwrite PE", cursive;
    background:
        linear-gradient(to right, #ff1e1e, #4352ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.abt {
    font-family: monospace;
    text-align: center;
    line-height: 2rem;
}

/* cover image */
.mainImg {
    width: 100%;
}

/* about */

#about {
    text-align: center;
    padding: 2rem 12rem;
    color: #dde2f1;
}

#about h2 {
    color: #a871ff;
}

hr {
    width: 25%;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
            #e55d5d,
            #5f61e4,
            #a871ff,
            #ffe400,
            #ff1e1e);
}

#about p {
    color: rgb(201 201 201);
}

/* project */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25),
    0px 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0px -2px 6px 0px rgba(0, 52, 103, 0.35);
}

.card:hover {
    transform: scale(1.02);
}

.proImg {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.proTit {
    font-size: 1.5rem;
    font-weight: bold;
}

.proDis {
    font-size: 1rem;
    color: #666;
}

#projects h2 {
    color: #a871ff;
    margin: 0.7rem;
}

#projects a {
    text-decoration: none;
}

#projects p {
    color: rgb(201 201 201);
}

.proCard {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.card h5 {
    color: white;
}


footer {
    margin-left: 9rem;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.social a img {
    width: 2.5rem;
}

.footer {
    text-align: center;
    align-items: center;
    color: #fff;
    background-color: #000000;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

/* tablet */
@media screen and (max-width: 1300px) {
    .proCard {
        display: grid;
        grid-template-columns: auto auto;
    }

    #about {
        padding: 2rem 5rem;
    }
}

/* mobile */
@media screen and (max-width: 1000px) {
    .navbar {
        width: 4rem;
    }

    main {
        margin-left: 8rem;
    }

    #home {
        grid-template-columns: auto;
    }

    .grt {
        font-size: 1rem;
    }

    .name {
        font-size: 5rem;
    }

    .abt {
        line-height: 0rem;
        font-size: small;
    }

    #about {
        padding: 2rem 0rem;
    }

    #about p {
        text-align: justify;
        padding-right: 2rem;
    }

    .proCard {
        display: grid;
        grid-template-columns: auto;
    }

    footer {
        margin-left: 9rem;
    }

    .social a img {
        margin: 0 1rem;
        width: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        background-color: #101010;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .navImg {
        width: 0;
    }

    .navIcoH {
        width: 1.6rem;
    }

    .navIcoA {
        width: 2.1rem
    }

    .navIcoP {
        width: 2rem
    }

    .navIcoC {
        width: 1.5rem
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: auto;
        height: auto;
        margin: 0 1rem;
    }

    .navbar li:hover {
        box-shadow: none;
    }

    main {
        margin-left: 0;
    }

    #about p {
        padding: 0 2rem;
    }

    #projects {
        padding: 0 2rem;
    }

    .card {
        padding: 1rem;
        margin: 1rem 0rem;
    }

    footer {
        margin-left: 0;
    }
}